<main>
    <div class="text-center container-fluid border border-dark p-5 rounded-lg mx-auto mt-5" id="dataDisplay">
        <h1 class="display-4">Edit Account</h1>
        <form id="editForm">
            <div class="form-group">
                <label for="editEmail" class="sr-only">Email Address</label>
                <input [(ngModel)]="email" name="email" type="email" id="editEmail" class="form-control"
                    placeholder="Email address" required autofocus />
            </div>
            <button type="button" (click)="onUpdate()" id="editEmailBtn"
                class="btn mt-3 btn-outline-warning">Edit</button>
            <button type="button" (click)="onDelete()" id="delBtn" class="btn mt-3 btn-outline-danger">Delete
                Account</button>
        </form>
    </div>
</main>

<div class="modal fade" tabindex="-1" id="deleteModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">&nbsp;</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="cancelModalBtn"
                    data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-primary" id="confirmModalBtn"
                    data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>