<main>
	<div>
		<form class="form-login border mt-5 p-3 rounded-lg text-center" id="registerForm">

			<h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Email address" required autofocus />
            </div>
            <div class="form-group">
                <label for="username" >Username</label>
                <input type="text" id="username" name="username" class="form-control mt-1" [(ngModel)]="username" placeholder="Username" required autofocus />
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                <input type="password" id="password" class="form-control mt-1" name="password" [(ngModel)]="password" placeholder="Password" required />
            </div>
            <div class="form-group">
                <label for="confirm">Confirm</label>
                <input type="password" class="form-control" id="confirm" name="confirm" [(ngModel)]="confirmpass" placeholder="Confirm your password" required />
            </div>
			<input type="submit" class="btn btn-primary" (click)="onSubmit()" />
			<button class="btn btn-lg btn-info btn-block hidden" type="button" id="homeBtn"><a
					href="/">Home</a></button>

			<br />
            <div class="alert alert-success hidden" role="alert" id="msg"></div>
            <div class="container">
                <div class="alert alert-danger" role="alert" id="errMsg" *ngIf="error">{{errMsg}}</div>
                Already have an account? <a href="/login" title="Login">Login now.</a>
            </div>
		</form>
	</div>
</main>
