<main>
    <div class="text-center container-fluid border border-dark p-5 rounded-lg mx-auto mt-5" id="dataDisplay">
        <h1 class="display-4">Team Lookup</h1>
        <div id="lookupContainer" class="container-fluid mt-4">
             
                    <label for="searchBy">Search By:</label>
                    <select id="searchBy" name="searchBy" class="selectors custom-select">
                        <option selected disabled>Choose a filter</option>
                        <option value="League">League</option>
                        <option value="Team">Team</option>
                        <option value="Number of Members"># of Team Members</option>
                        <option value="All">View All</option>
                    </select>
                </div>
                
            <div id="tableContainer" class="container-fluid">

            </div>
        </div>
</main>
