<main>
    <div class="mt-5 container border admin-view border-secondary rounded-lg">
        <div class="text-center" >
            <h1 class="display-4">Registered Users</h1>
        </div>
        <table class="table mt-3 mb-3 table-sm table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr *ngFor="let user of users">
                    <td>{{user.userId}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.emailAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>