<main>
    <div class="text-center container-fluid border border-dark p-5 rounded-lg mx-auto mt-5" id="dataDisplay">
        <h1 class="display-4">Edit Account</h1>
        <form id="editForm">
            <label for="editEmail" class="sr-only">Email Address</label>
            <input name="email" type="email" id="editEmail" class="form-control" placeholder="Email address" required autofocus />
            <button type="button" id="editEmailBtn" class="btn mt-3 btn-outline-warning">Edit</button>
            <button type="button" id="delBtn" class="btn mt-3 btn-outline-danger">Delete Account</button>
        </form>
    </div>
</main>
